<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="xyz.zpayh.myadapter">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiItemActivity"
            android:label="@string/title_activity_multi_item"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MultiItemActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ExpandableActivity"
            android:label="@string/title_activity_expandable"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ExpandableActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".HeadAndFootActivity"
            android:label="@string/title_activity_HeadAndFoot">
            <intent-filter>
                <action android:name="HeadAndFootActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoLoadMoreActivity"
            android:label="@string/title_activity_AutoLoadMore">
            <intent-filter>
                <action android:name="AutoLoadMoreActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiSelectItemActivity"
            android:label="@string/title_activity_multi_select_item"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="MultiSelectItemActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="BasicActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>